h1{
    background-color: aqua;
    color:black;
    margin: 0px;
    
}
.opciones{
    background-color: rgb(148, 164, 218);
    color: goldenrod;
    margin: 1%;
    padding: 3%;
    
}

.parte1{
    background-color: rgb(245, 19, 94);
    color: rgb(32, 150, 218);
    border: 2px solid black ;
    margin: 1%;
    padding: 3%;
    
}
.parte2{
    background-color: rgb(78, 77, 55);
    color: rgb(182, 38, 27);
    margin: 1%;
    padding: 3%;
    
}
.conjunto{
    background-color: crimson;
    display: inline-flex;
    flex-direction: column;
    margin-top: 0px;
    justify-content: center;
    padding: 3%;
}