h1 {
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: black;
}

p {
    color: crimson;
    font-family: fantasy;
    
}

h4 {
    color: darkviolet;
}

.destacados {
    color: darkgreen;
}

ol {
    color: darkred;
    font-style: italic;
}

.desea {
    color: hotpink;
    text-align: justify;
}


#cajita {
    width: 300px;
    height: 400px;
    text-align: center;
    /*background-color: lightgreen; */
    margin: 5%;
    border: 5px solid salmon;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    border-radius: 144px 10px 10px 12px;
    box-shadow: 10px 10px 39px 0px rgba(0,0,0,0.5);
    
}

#cajita2 {
    width: 300px;
    height: 400px;
    text-align: center;
    margin: 5%;
    border: 5px solid lightgreen;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-radius: 10px 10px 144px 12px;
    box-shadow: -27px -16px 39px 0px rgba(0,0,0,0.5);
    font-family: 'Passions Conflict', cursive;
    
}
/*font-family: 'Passions Conflict', cursive;*/
.tcajita {
    color: darkslateblue;
    
}

.scajita {
    color: rgb(61, 139, 68);
}